<footer class="bg-light text-center text-lg-start">


  <div class="text-center p-3" style="background-color: lightblue;">
    DJ Selection page
    <a class="text-dark" href='/'>kamb.com</a>

    <a class="text-dark" href='/showpage'> Upcoming Show</a>

    <a class="text-bold" href='/logout'> Logout </a>  	
  </div>
  
</footer>
