<!DOCTYPE html>
<html lang="en">

 <a href="/showpage">
	<script>
		document.location.href='C:\Anudeep\GMU classes\SWE 432\Iteration 4\views\pages
\ShowPage.ejs'
	</script
</a> 

<head>
  <%- include('../partials/head'); %>
 
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

<br>

<ul class="list-group">
  <li class="list-group-item active">Current show</li>
  <li class="list-group-item">Name of Show</li>
  <li class="list-group-item">Start time</li>
  <li class="list-group-item">2 hours, 15 minutes</li>
  <li class="list-group-item">
	<div class="box8"><img class="rectangle" src="music.jpeg" alt="music logo" width="250" height="200"/></div>
</li>
</ul>



       

<br><br>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">Other Upcoming Songs</li>
  <li class="list-group-item list-group-item-warning">This Song</li>
  <li class="list-group-item list-group-item-warning">Another Song</li>
  <li class="list-group-item list-group-item-warning">qwerty song</li>
  <li class="list-group-item list-group-item-warning">asdfghjkl song</li>
  <li class="list-group-item list-group-item-warning">zusdgs song</li>
</ul>
<br><br>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>